.container {
  font-family: sans-serif;
}

.bui-app-logo {
  height: 40px;
}

.bui-app-header {
  background-color: #fff;
  height: auto;
  padding: 20px;
  color: #000;
}

.bui-app-intro {
  font-size: 1rem;
}
