.container {
  display: flex;
  font-family: sans-serif;
}

.tableSection {
  width: 100%;
  padding: 0 15px;
}

.hiddenTable {
  height: calc(100vh - 20px);
  overflow: hidden;
}

.formSection {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  padding: 0 15px;
  background-color: #fff;
}

@media only screen and (min-width: 768px) {
  .tableSection {
    width: 50%;
    padding: 0 50px;
  }

  .hiddenTable {
    width: 50%;
    padding: 0 50px;
    height: auto;
    overflow: auto;
  }
  
  .formSection {
    position: static;
    width: 50%;
    padding: 0 50px;
  }
}
