.container {
  display: flex;
  font-family: sans-serif;
}

.tableSection {
  width: 100%;
  padding: 0 15px;
}

.hiddenTable {
  display: none;
}

.formSection {
  padding: 0 15px;
  background-color: #fff;
}

@media only screen and (min-width: 768px) {
  .tableSection {
    width: calc(50% - 100px);
    padding: 0 50px;
  }

  .hiddenTable {
    display: block;
    width: calc(50% - 100px);
    padding: 0 50px;
  }
  
  .formSection {
    width: calc(50% - 100px);
    padding: 0 50px;
  }
}
