.table {
    border-collapse: collapse;
    overflow-x: scroll;
    font-size: 16px;
}

.table tr:nth-child(even) td {
    /* This is to make it easier to scan along a row
    on the table when there is lots of data */
    background-color: #FDFEFE;
}
