.tableCell {
    border: solid 1px #000;
    padding: 10px;
}

.row:hover {
    cursor: pointer;
}

.row:hover .tableCell {
    background-color: #AED6F1;
}

.cancelled {
    /* If the line thickness is a problem,
    consider using a background image with a linear gradient,
    this could improve the visibility */
    text-decoration: line-through;
}
